.HoldingPage {
    @extend .routepage;

    max-width: 700px;
    margin: 0 auto;

    .Hero {
        max-width: 411px;
        margin: 0 auto;
        align-items: center;
        background: $color-blue-dark url('/images/nurse.png') center left no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: row-reverse;
        height: 350px;
		

        .HeroColumn {
            display: flex;
            flex-direction: column;

        a {
            @extend .button;
            max-width: 100%;
            background-color: $color-blue;
            margin: 0.5em;
            text-align: center;
            font-weight: bold;
        }
        }
		
  
	}
	
	.socials {
        margin-bottom: 1.0em;
        padding: 1.0em;
        text-align: center;
		

        a {
            color: $color-white;
            font-size: 48px;
            margin: 12px;
            padding: 12px;
            text-align: center;
			
        }
    }

    .content {
       margin: 1.0em;
   }
}
